#bodyhrac {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 4em 7em 9em auto;
}

#bodyeditor {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#bodyplatno {
    width: 80%;
    font-size: 175%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

body {
    font-size: 22px;
    box-sizing: border-box;
    background-color: rgb(255, 180, 30);
    text-align: center;
    margin: 0;
}



@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    body {
        font-size: 19px;
    }

    #bodyeditor {
        width: 70%;
    }
    #bodyhrac {
        width: 70%;
    }
    }
@media only screen and (max-width: 1400px) and (min-width: 1100px) {
    body {
        font-size: 16px;
    }
    #bodyeditor {
        width: 85%;
    }
    #bodyhrac {
        width: 85%;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 900px) {
    body {
        font-size: 13px;
    }
    #bodyeditor {
        width: 100%;
    }
    #bodyhrac {
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    body {
        font-size: 10px;
    }
    #bodyeditor {
        width: 100%;
    }
    #bodyhrac {
        width: 100%;
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

button, .plavcik.zmena {
    border-radius: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
    background-color: rgb(200, 140, 0);
    border: 0.1em solid rgb(150, 100, 0);
    margin-left: 0.15em;
    font-size: 80%;
}

    button:hover, .plavcik.zmena:hover {
        background-color: rgb(210, 160, 0)
    }


/* Výchozí stav: hráè */
.hrac {
    display: inline-block;
}
.plavcik {
    display: none;
}
.plavcikbunka{
    display: none;
}
.hracbunka {
    display: table-cell;
}

/* Mód plavèík */
.plavcik-mode .hrac {
    display: none;
}
.plavcik-mode .plavcik {
    display: inline-block;
}
.plavcik-mode button, .hrac.zmena {
    background-color: aqua;
    border: 0.1em solid rgb(0, 150, 150);
}
    .plavcik-mode button:hover, .hrac.zmena:hover {
        background-color: rgb(0, 200, 200);
    }
.plavcik-mode .plavcikbunka {
    display: table-cell;
}
.plavcik-mode .hracbunka {
    display: none;
}



/* Mód plavèík */
.ending-mode {
    background-color: rgb(255, 80, 0);
}
.end-mode {
    background-color: grey;
}
.plavcik-mode {
    background-color: aqua;
}



h1 {
    font-size: 200%;
}

h5 {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-size: 120%;
}

h3 {
    font-size: 150%;
    margin-bottom: 0;
}


#casovacb {
    width: 50%;
    height: 1.3em;
    margin: auto;
    margin-top: 0.75em;
}

#vypnib {
    display: none;
    width: 50%;
    height: 1.3em;
    margin: auto;
    margin-top: 0.75em;
}
.zprava {
    width: 50%;
}
textarea, input {
    font-size: 80%;
}

.staty {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.okenko {
    background-color: rgb(255, 230, 150);
    margin: 0.3em;
    border-radius: 0.6em;
}

.oknostabem {
    position: relative;
    top: -1.5em;
}
.l {
    text-align: left;
}
.r {
    text-align: right;
}

.oknostabem h2 {
    background-color: rgb(255, 230, 150);
    margin: 0.3em 0.3em 0 0.3em;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    display: inline-block;
    font-size: 100%;
    padding: 0.3em;
}
.oknostabem .okenko {
    margin: 0 0.3em 0 0.3em;
}
.oknostabem.l .okenko {
    border-top-left-radius: 0;
}
.oknostabem.r .okenko {
    border-top-right-radius: 0;
}


.nadpis {
  grid-column: 1/3;
  grid-row: 1/2;
}
.komunikace {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.3em 1em;
}
.komunikace *{
    margin: 0.2em auto;
}

.ulohy {
    grid-column: 1/2;
    grid-row: 3/4;
}
.zavody {
    grid-column: 2/3;
    grid-row: 3/5;
}

.hra {
    display: none;
}
.hranone {
    display: block;
    grid-column: 1/3;
    grid-row: 2/4;
    padding: 4.5em;
}

.faktor {
    margin: 0.3em;
}
.faktorbutton {
    margin-left: 0.3em;
}

.okenko table {
    width: 100%;
    border-collapse: collapse;
}
.okenko th,.okenko td {
    border-bottom: 1px solid rgb(200, 140, 0);
    height: 1.5em;
}

.oknostabem th.l {
    width: 40%
}

.oknostabem th.r {
    width: 30%
}
.okenko.tabulka {
    padding: 0.5em 1.5em 0.5em 1.5em;
}
.zavody.hra.okenko.tabulka .velky {
    width: 35%;
}
.zavody.hra.okenko.tabulka .ctvrtka {
    width: 25%;
}
.zavody.hra.okenko.tabulka .petina {
    width: 20%;
}
.zavody.hra.okenko.tabulka .maly {
    width: 18.75%;
}