body {
  width: 1000px;
  margin: auto; 
  background-color: rgb(238, 204, 86);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px auto auto;
}
.staty {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nadpis {
  grid-column: 1/4;
  grid-row: 1/2;
}
.komunikace {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
}
.bloky {
  grid-row: 3/4;
}
.ulohy {
  grid-column: 1/2;
}
.banka {
  grid-column: 2/3;
}
.zavody {
  grid-column: 3/4;
}
ul {
  list-style-type: none;
}
.hra {
    display: none;
}
.hranone {
    display: block;
}

