<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Editorský účet</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script src="static/funkce.js"></script>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div style="display:flex; flex-direction:column">
        <button id="casovacb" onclick="StartTimer()">Spustit časovač</button>
        <div id="casovac">baf</div>
        <h2>Online týmy:</h2>
        <ul id="online_users"></ul>
        <h2>Zprávy</h2>
        <div style="display:flex; flex-direction:row">
            <label for="target_user">Příjemce: </label>
            <input id="target_user">
            <textarea id="message" placeholder="Napište zprávu..."></textarea>
            <button onclick="sendMessage()">Poslat zprávu</button>
        </div>
        <h3>Tvá komunikace:</h3>
        <ul id="messages" style="display:flex; flex-direction:column-reverse"></ul>
    </div>
</body>
</html>
