<DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Přihlášení na Proud 2025</title>
        <script src="static/funkce.js"></script>
        <link href="static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/login" method="GET">
            <label for="username">Uživatelské jméno:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Přihlásit se</button>
        </form>
    </body>
</html>
