<DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Přihlášení na Proud 2025</title>
        <script src="static/funkce.js"></script>
        <link href="static/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Přilaš se</h1>
        <p>Napiš sem jméno svého týmu, tak, jak se má zobrazovat na tabuli (tedy prosím nic polovičatého) a heslo které jsme si říkali před hrou.</p>
        <form id="prihlaseni">
            <label for="username">Jméno týmu:</label>
            <input type="text" id="username" name="username" required>
            <label for="heslo">Heslo:</label>
            <input type="text" id="heslo" name="heslo" required>
            <div id="upozorneni" style="display: none; color: red">Toto heslo není správné, zeptej se organizátora soutěže</div>
            <button type="button" onclick="Login()">Přihlásit se</button>
        </form>
    </body>
</html>
