<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Plátno</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script src="static/platno.js" rel="stylesheet"></script>
    <link href="static/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <style>
        li {
            font-size: 120%;
            margin-bottom: 0.3em;
        }
    </style>
</head>
<body style="overflow:hidden">
    <div id="bodyplatno">
        <h1 id="casovac" style="font-size: 300%; grid-column: 1/3; grid-row: 1; margin: 0.2em 0.2em 0 0.2em ">Čekám na zahájení.</h1>

        <div style="grid-column: 1; grid-row: 2;" class="oknostabem l">
            <h2>K příhlášení</h2>
            <div class="okenko">              
                <ul id="prihlasovani"></ul>
            </div>
        </div>
        <div style="grid-column: 2; grid-row: 2" class="oknostabem r">
            <h2>Probíhá</h2>
            <div class="okenko">
                <ul id="jizda"></ul>
            </div>
        </div>
    </div>
</body>
</html>
