<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Tým {{ username }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script src="static/funkce.js"></script>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="zahlavi">
        <h1>Herní pole pro tým: {{ username }}</h1>
        <div class="staty"><div>Peníze:</div><div>Peníze:</div><div>Peníze:</div></div>
    </div>
    <div class="hlavni">
        <div class="ulohy bloky"> Ulohy</div>
        <div class="banka bloky"> Banka</div>
        <div class="zavody bloky"> Zavody</div>
    </div>
    <div class="komunikace">
        <label for="target_user">Příjemce: </label><label id="target_user">Editor</label>
        <textarea id="message" placeholder="Napište zprávu..."></textarea>
        <button onclick="sendMessage()">Poslat zprávu</button>
        <h2>Online týmy:</h2>
        <ul id="online_users"></ul>
        <h2>Přijaté zprávy:</h2>
        <ul id="messages"></ul>
    </div>
</body>
</html>
