<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Tým {{ username }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script src="static/funkce.js"></script>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body onload="Init()">
    <h1 class="nadpis">Herní pole pro tým: {{ username }}</h1>
    <div class="staty">
        <div><div>Peníze:</div><div id='penize'>0 $</div></div>
        <div>
            Formule A:
            <div style="display:flex;flex-direction:column">
                <div style="display:flex;flex-direction:row">
                    <div>
                        Motor: 
                    </div>
                    <div id="A_motor">0</div>
                    <button onclick="Zvedni('A_motor')" id="A_motorb">Vylepši za 50 $</button>
                </div>
                <div style="display:flex;flex-direction:row">
                    <div>
                        Brzda: 
                    </div>
                    <div id="A_brzda">0</div>
                    <button onclick="Zvedni('A_brzda')" id="A_brzdab">Vylepši za 50 $</button>
                </div>
            </div>
        </div>
        <div>
            Formule B:
            <div style="display:flex;flex-direction:column">
                <div style="display:flex;flex-direction:row">
                    <div>
                        Motor: 
                    </div>
                    <div id="B_motor">0</div>
                    <button onclick="Zvedni('B_motor')" id="B_motorb">Vylepši za 50 $</button>
                </div>
                <div style="display:flex;flex-direction:row">
                    <div>
                        Brzda: 
                    </div>
                    <div id="B_brzda">0</div>
                    <button onclick="Zvedni('B_brzda')" id="B_brzdab">Vylepši za 50 $</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ulohy bloky"><h3>Odevzádní úlohy</h3><button onclick="Uloha()">Odevzdat další</button></div>
    <div class="banka bloky"> Banka</div>
    <div class="zavody bloky"> Zavody</div>
    <div class="komunikace">
        <h2>Zprávy</h2>
        <p>Zde si můžeš popovídat s člověkem u hlavního počítače.</p>
        <label for="target_user">Příjemce: </label><label id="target_user">Editor</label>
        <textarea id="message" placeholder="Napište zprávu..."></textarea>
        <button onclick="sendMessage()">Poslat zprávu</button>
        <h3>Tvá komunikace:</h3>
        <ul id="messages"></ul>
        <ul id="online_users" style="display:none"></ul>
    </div>
</body>
</html>
